## Vorbereitungen

> verbinden des Notebook mit der Datenbank um später SQL ausführen zu können

In [ ]:
%load_ext sql
%sql sqlite:///datenbank.db

> Erstellen der Tabelle *bundeslaender*

In [ ]:
%sql CREATE TABLE bundeslaender (id int NOT NULL UNIQUE PRIMARY KEY, name text, flaeche int, anteil_an_deutschland float)

> Einfügen der Daten (Quelle: [Wikipedia](https://de.wikipedia.org/wiki/Liste_der_deutschen_Bundesländer_nach_Fläche))

In [ ]:
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (1, 'Bayern', 70541, 19.73)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (2, 'Niedersachsen', 47709, 13.34)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (3, 'Baden-Württemberg', 35747, 10.00)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (4, 'Nordrhein-Westfalen', 34112, 9.54)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (5, 'Brandenburg', 29654, 8.29)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (6, 'Mecklenburg-Vorpommern', 23295, 6.51)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (7, 'Hessen', 21115, 5.91)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (8, 'Sachsen-Anhalt', 20456, 5.72)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (9, 'Rheinland-Pfalz', 19858, 5.55)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (10, 'Sachsen', 18449, 5.16)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (11, 'Thüringen', 16202, 4.53)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (12, 'Schleswig-Holstein', 15800, 4.42)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (13, 'Saarland', 2571, 0.72)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (14, 'Berlin', 891, 0.25)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (15, 'Hamburg', 755, 0.21)
%sql INSERT INTO bundeslaender (id, name, flaeche, anteil_an_deutschland) VALUES (16, 'Bremen', 419, 0.12)

## Abfragen mit SQL

### Alle Daten einer Tablle ausgeben
- SELECT          : Man möchte Daten von der Datenbank abrufen
- _*_               : Symbol der Informatik für ALLES
- FROM            : Angabe der Tabelle (Von welcher Tablle der Datenbank sollen die Daten kommen?)
- bundeslaender   : **Hier:** Unsere Tabelle, welche daten über die Bundesländer enthält

In [ ]:
%sql SELECT * FROM bundeslaender

### WHERE Statement
WHERE fügt der Abfrage eine Bedingung hinzu  
Syntax: WHERE _spaltenName = Wert_  
**WICHTIG** Beim suchen nach Text nicht " sondern ' verwenden

In [ ]:
%sql SELECT * FROM bundeslaender WHERE flaeche=47709

In [ ]:
%sql SELECT * FROM bundeslaender WHERE name='Baden-Württemberg'

Es kann auch *>* Größer oder *<* Kleiner als verwendet werden

In [ ]:
%sql SELECT * FROM bundeslaender WHERE flaeche>21115

In [ ]:
%sql SELECT * FROM bundeslaender WHERE flaeche<21116

### Spezielle Daten abfragen
Durch das nennen der Spalten Namen anstelle eines * bekommt man nur ausgewählte Daten ausgegeben.

In [ ]:
%sql SELECT name, anteil_an_deutschland FROM bundeslaender

In [ ]:
%sql SELECT name, flaeche FROM bundeslaender

### Daten sortiert abfragen
Um Daten bei der Abfrage zu sortieren kann man das *ORDER BY* statement verwenden.   
Mit dem zusatz *DESC* wird die Suche invertiert

In [ ]:
%sql SELECT * FROM bundeslaender ORDER BY flaeche

In [ ]:
%sql SELECT * FROM bundeslaender ORDER BY flaeche DESC

### LIKE statement
Um nach ähnlichen daten zu suchen kann man den _LIKE_ befehl nutzen.

In [ ]:
%sql SELECT * FROM bundeslaender  WHERE name LIKE 'Ba%'

Nun werden alle Bundesländer angezeigt, welche mit __Ba__ beginnen.

In [ ]:
%sql SELECT * FROM bundeslaender WHERE name LIKE '%en'

Jetzt werden alle Bundesländer angezeigt, welche auf __en__ enden.

## Tabellen Verknüpfen

### Vorbereitung

**Erstellen einer 2. Datenbanktabelle**    
Hier werden Städte gelistet

In [ ]:
%sql CREATE TABLE staedte (id int NOT NULL UNIQUE PRIMARY KEY, name text, einwohner int, flaeche float)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (1, 'Aachen', 258770, 160.83)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (2, 'Augsburg', 262512, 146.86)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (3, 'Berlin', 3404037, 891.85)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (4, 'Bochum', 383743, 145.44)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (5, 'Bremen', 547934, 325.42)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (6, 'Dresden', 504795, 328.3)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (7, 'Essen', 583198, 210.38)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (8, 'Göttingen', 121581, 117.27)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (9, 'Hamburg', 1754182, 755.16)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (10, 'Köln', 989766, 405.15)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (11, 'Mainz', 196425, 97.74)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (12, 'Münster', 272106, 302.89)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (13, 'Nürnberg', 500855, 186.4)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (14, 'Rostock', 199868, 181.44)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (15, 'Stuttgart', 593923, 207.36)
%sql INSERT INTO staedte (id, name, einwohner, flaeche) VALUES (16, 'Ulm', 120925, 118.69)

**Erstellen der Link Tabelle**     
Hier wird jede Stadt mit einem Bundesland assoziiert. Die link ID kann ignoriert werden, da sie nur als Primärschlüssel der Links dient

In [ ]:
%sql CREATE TABLE links (id int NOT NULL UNIQUE PRIMARY KEY, stadt text, bundesland text)
%sql INSERT INTO links (id, stadt, bundesland) VALUES (1, 'Aachen', 'Nordrhein-Westfahlen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (2, 'Augsburg', 'Bayern')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (3, 'Berlin', 'Berlin')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (4, 'Bochum', 'Nordrhein-Westfahlen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (5, 'Bremen', 'Bremen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (6, 'Dresden', 'Sachsen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (7, 'Essen', 'Nordrhein-Westfahlen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (8, 'Göttingen', 'Niedersachsen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (9, 'Hamburg', 'Hamburg')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (10, 'Köln', 'Nordrhein-Westfahlen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (11, 'Mainz', 'Rheinland-Pfalz')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (12, 'Münster', 'Nordrhein-Westfahlen')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (13, 'Nürnberg', 'Bayern')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (14, 'Rostock', 'Mecklenburg-Vorpommern')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (15, 'Stuttgart', 'Baden-Württemberg')
%sql INSERT INTO links (id, stadt, bundesland) VALUES (16, 'Ulm', 'Baden-Württemberg')

### Spalten eindutig identifizieren

In [ ]:
%sql SELECT name FROM bundeslaender, staedte

Es entsteht ein Fehler.   
Um dies zu beheben wird klar definiert, welche Daten wir möchten:    
Syntax: *Tabelle*.*Spalte*

In [ ]:
%sql SELECT staedte.name FROM staedte

### Verknüpfung erstellen

In [ ]:
%sql SELECT staedte.name, bundeslaender.name FROM staedte, bundeslaender, links WHERE links.stadt = staedte.name AND links.bundesland = bundeslaender.name

Wir haben jetzt definiert, dass wir den **Namen der Stadt** und den **Namen des Bundeslands** haben möchten unter der Bedingung, dass der Name der Stadt mit dem Namen der Stadt aus der **Links** Tabelle übereinstimmen muss. **Gleichzietig** muss aber auch der Name des Bundeslandes mit dem Namen der Bundeslandes in der **Links** Tabellle in der selben Spalte übereinstimmen.         


weiteres Beispiel:

In [ ]:
%sql SELECT staedte.name, staedte.einwohner, bundeslaender.name, bundeslaender.flaeche FROM staedte, bundeslaender, links WHERE links.stadt = staedte.name AND links.bundesland = bundeslaender.name

In [ ]:
%sql SELECT staedte.name, staedte.einwohner, bundeslaender.name, bundeslaender.flaeche FROM staedte, bundeslaender, links WHERE links.stadt = staedte.name AND links.bundesland = bundeslaender.name AND staedte.einwohner > 500000